
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<h1>Index</h1>

<a asp-area="Admin" asp-controller="Home" asp-action="Index" >Admin</a>
<br />
<a asp-area="Member">Member</a>
